<!-- <div>{{Today | date : 'fullDate' : 'mm-dd-yyyy' | uppercase}}</div>
<br> -->
<div class="row">
  <div class="col-sm-4">
    <label for="filter"> Filter: &nbsp; </label>
    <input type="text" [(ngModel)]="City" name="Filter">
    <button type="button" (click)="onCityFilter()">Search</button>
    <button type="button" (click)="onClearSearch()">Clear</button>
  </div>
  <div class="col-sm-8">
    <label for="sort"> Sort: &nbsp; </label>
    <select  [(ngModel)]="sortValue">
      <option [defaultSelected]="true" value="Price">Price</option>
      <option value="City">City</option>
    </select>
    <button (click)="onSortDirection()" style="border:0cap;background: none;">
      <i *ngIf="sortDirection==='asc'" class="material-icons">arrow_upward</i>
      <i *ngIf="sortDirection==='desc'" class="material-icons">arrow_downward</i>
    </button>
  </div>
  <!-- <div class="col-4"></div> -->
  <div *ngFor="let property of properties|filter : searchCity :'City' |sort:[sortValue,sortDirection]" class="shadow-lg col-sm-4 p-3">
    <app-property-card [property]="property"></app-property-card>
  </div>
</div>
 