<div class="card">
  <div class="card-img-wrapper">
    <img 
      *ngIf="property.Image" class="card-img-top"
      src="assets/images/{{property.Image}}"
      alt="birla-house"
    />
    <img 
    *ngIf="!property.Image" class="card-img-top"
    src="assets/images/house_default.jpg"
    alt="birla-house"
  />
    <ul class="list-inline text-center member-icons animate" *ngIf="!hideIcons">
      <li class="list-inline-item">
        <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}"><i class="material-icons" style="font-size:20px;color: darkblue;">edit_note</i></button>
      </li>
      <li class="list-inline-item">
        <button class="btn btn-primary"><i class="material-icons" style="font-size:20px;color: darkblue;">contacts</i></button>
      </li>
    </ul>
  </div>
  <div class="card-body p-2">
    <h1 class="mb-0"> {{property.BHK}} BHK {{property.PType}} </h1>

     {{property.Name}} 
    <span *ngIf="property.Name">,in</span>
    {{property.City}}

    <h6  class="mt-2">{{property.FType}}
    <span *ngIf="property.FType !== 'Unfurnished'">Furnished</span> | Ready to Move</h6>

    <hr class="mt-0 mb-2">

    <h6 class="mb-0">Price: <span class="font-highlight">{{property.Price}} USD.</span> |
      Area:  <span class="font-highlight">{{property.BuiltArea}} Sq Ft </span> </h6>
  </div>
</div>
