<div class="row mb-5">
  <div class="col-8 shadow-lg p-0 bg-white">
    <div class="card">
      <div class="card-header">
        <h3>List your property</h3>
      </div>
      <div class="card-body m-3">
        <form (ngSubmit)="onSubmit()" [formGroup]="addPropertyForm">
          <div class="tab-panel">
            <tabset #selectTab class="member-tabset">
              <tab heading="Basic Info" id="tab1" formGroupName="BasicInfo">
                <div class="form-group col-12">
                  <p>I want to</p>
                  <div class="btn-group" btnRadioGroup formControlName="SellOrRent">
                    <label class="btn btn-outline-primary m-1" name="SellOrRent" btnRadio="1" tabindex="0"
                      role="button">Sell</label>
                    <label class="btn btn-outline-primary m-1" name="SellOrRent" btnRadio="2" tabindex="0"
                      role="button">Rent</label>
                  </div>
                  <div class="col-12" *ngIf="SellOrRent.invalid && nextClicked">
                    <span class="error-block">Please select one value.</span>
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>BHK</p>
                  <div class="btn-group" btnRadioGroup name="BHK" formControlName="BHK" [(ngModel)]="propertyView.BHK">
                    <label for="BHK" *ngFor="let bhk of [1, 2, 3, 4]" class="btn btn-outline-primary m-1" [btnRadio]="bhk"
                      tabindex="0" role="button" name="bhk">{{ bhk }}
                    </label>
                  </div>
                  <div class="col-12" *ngIf="BHK.invalid && nextClicked">
                    <span class="error-block">Please select one value.</span>
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Property Type</p>
                  <div class="btn-group" btnRadioGroup formControlName="PType" name="PType" [(ngModel)]="propertyView.PType">
                    <label for="pType" *ngFor="let pType of propertyType" class="btn btn-outline-primary m-1" tabindex="0"
                      [btnRadio]="pType" name="pType">{{ pType }}</label>
                  </div>
                  <div class="col-12">
                    <span class="error-block" *ngIf="PType.invalid && nextClicked">Please select one value.</span>
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Furnishing Type</p>
                  <div class="btn-group" btnRadioGroup name="FType" formControlName="FType" [(ngModel)]="propertyView.FType">
                    <label for="fType" *ngFor="let fType of furnishedType" class="btn btn-outline-primary m-1" tabindex="0"
                      [btnRadio]="fType" name="fType">{{ fType }}</label>
                  </div>
                  <div class="col-12">
                    <span class="error-block" *ngIf="FType.invalid && nextClicked">Please select one value.</span>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="BSP" class="m-2">Building/Society/Project</label>
                  <input type="text" class="form-control" 
                  name="Name" [(ngModel)]="propertyView.Name" formControlName="Name"/>
                </div>
                <div class="col-12" *ngIf="Name.invalid && (nextClicked || Name.touched)">
                  <span class="error-block" >Please enter Name</span>
                </div>
                <div class="form-group col-12">
                  <label for="city" class="m-2">City</label>
                  <input type="text" class="form-control" name="City" formControlName="City" [(ngModel)]="propertyView.City" />
                  <!-- <span class="error-block" *ngIf="pCity.invalid && propPrice.touched">Please Enter Type</span> -->
                </div>
                <div class="col-12" *ngIf="City.invalid && (nextClicked || City.touched)">
                  <span class="error-block" >Please enter Name</span>
                </div>
                <div class="btn-group col-12 mt-2">
                  <button type="button"
                  class="btn btn-primary btn-block">Next</button>
                </div>
              </tab>
              <tab heading="Pricing and Area" id="tab2" formGroupName="PriceInfo">
                <div class="form-group col-12">
                  <label for="Price" class="m-2" *ngIf="SellOrRent.value == 1" >Price(USD)</label>
                  <label for="Price" class="m-2" *ngIf="SellOrRent.value == 2" >Rent(USD)</label>
                  <input type="text" class="form-control" formControlName="Price" />
                </div>
                <div class="col-12">
                  <span class="error-block" *ngIf="Price.invalid && (nextClicked ||Price.touched)">
                    Please enter <span *ngIf="SellOrRent.value ==1;else showRent">Price</span>
                    <ng-template #showRent>Rent</ng-template>
                  </span>
                </div>
                <div class="form-group col-12" *ngIf="SellOrRent.value == 2">
                  <label for="Security" class="m-2">Security(USD)</label>
                  <input type="text" class="form-control" formControlName="Security" />
                </div>
                <div class="form-group col-12" *ngIf="SellOrRent.value == 2">
                  <label for="Maintenance" class="m-2">Maintenance(USD)</label>
                  <input type="text" class="form-control" formControlName="Maintenance" />
                </div>
                <div class="form-group col-12">
                  <label for="BuiltArea" class="m-2">Built Area(Sq Feet)</label>
                  <input type="text" class="form-control" formControlName="BuiltArea" />
                </div>
                <div class="col-12" *ngIf="BuiltArea.invalid && (nextClicked || BuiltArea.touched)" >
                  <span class="error-block">Please enter built area</span>
                </div>
                <div class="form-group col-12">
                  <label for="CarpetArea" class="m-2">Carpet Area(Sq Feet)</label>
                  <input type="text" class="form-control" formControlName="CarpetArea" />
                </div>
                <div class="form-group col-11">
                  <button type="button" class="btn btn-primary m-2" style="float: right" 
                  (click)="onSelectTab(2,PriceInfo.valid)">
                    Next
                    <li class="material-icons" style="
                                font-size: 20px;
                                font-weight: 100;
                                color: white;
                                margin-right: 3px;
                              ">
                      arrow_forward
                    </li>
                  </button>
                  <button type="reset" class="btn btn-primary m-2" style="float: right" (click)="onSelectTab(0,PriceInfo.valid)">
                    <li class="material-icons" style="font-size: 20px; color: white; margin-right: 3px">
                      arrow_back
                    </li>
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Adress" id="tab3" formGroupName="AddressInfo">
                <div class="form-group col-12">
                  <label for="Floor" class="m-2">Floor</label>
                  <input type="text" class="form-control" formControlName="Floor" />
                </div>
                <div class="form-group col-12">
                  <label for="TotalFloor" class="m-2">Total Floor</label>
                  <input type="text" class="form-control"  formControlName="TotalFloor"/>
                </div>
                <div class="form-group col-12">
                  <label for="Address" class="m-2">Address</label>
                  <input type="text" class="form-control" formControlName="Address" />
                </div>
                <div class="col-12" *ngIf="Address.invalid && (nextClicked || Address.touched)" >
                  <span class="error-block" >Please enter address</span>
                </div>
                <div class="form-group col-12">
                  <label for="Landmark" class="m-2">Landmark</label>
                  <input type="text" class="form-control" formControlName="Landmark" />
                </div>
                <div class="form-group col-11">
                  <button type="next" class="btn btn-primary m-2" style="float: right" (click)="onSelectTab(3,true)">
                    Next
                    <li class="material-icons" style="
                                font-size: 20px;
                                font-weight: 100;
                                color: white;
                                margin-right: 3px;
                              ">
                      arrow_forward
                    </li>
                  </button>
                  <button type="reset" class="btn btn-primary m-2" style="float: right" (click)="onSelectTab(1,true)">
                    <li class="material-icons" style="font-size: 20px; color: white; margin-right: 3px">
                      arrow_back
                    </li>
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Other Details" id="tab4" formGroupName="OtherDetails">
                <div class="form-group col-12">
                  <p>Ready to Move</p>
                  <div class="btn-group" btnRadioGroup formControlName="ReadyToMove">
                    <label for="yes" class="btn btn-outline-primary m-1" role="button" btnRadio="1" name="yes">Yes</label>
                    <label for="no" class="btn btn-outline-primary m-1" role="button" btnRadio="2" name="no">No</label>
                  </div>
                  <div class="col-12" *ngIf="ReadyToMove.invalid && nextClicked" >
                    <span class="error-block" >Please select one value</span>
                  </div>
                </div>
                <div class="form-group col-4" *ngIf="ReadyToMove.value == 2">
                  <label for="AvailableFrom" class="m-2">Possession/Available From</label>
                  <input type="text" placeholder="MM/DD/YYYY" class="form-control" bsDatepicker [bsConfig]="{
                              containerClass: 'theme-dark-blue',
                              dateInputFormat: 'MM/DD/YYYY'
                            }" formControlName="AvailableFrom" />
                </div>
                <div class="form-group col-12" *ngIf="ReadyToMove.value == 1">
                  <label for="AgeOfProperty" class="m-2">Age of Property</label>
                  <input type="text" class="form-control" formControlName="AgeOfProperty" />
                </div>
                <div class="form-group col-12">
                  <p>Gated Community</p>
                  <div class="btn-group" btnRadioGroup formControlName="GatedCommunity" >
                    <label for="yes" class="btn btn-outline-primary m-1" btnRadio="1" role="button"
                      name="GatedCommunity">Yes</label>
                    <label for="no" class="btn btn-outline-primary m-1" btnRadio="2" role="button" name="GatedCommunity">No
                    </label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <p>Main Entrance</p>
                  <div class="btn-group" btnRadioGroup formControlName="MainEntrance">
                    <label for="MainEntrance" *ngFor="let mEntrance of mainEntranceDirection" role="button"
                      class="btn btn-outline-primary m-1" [btnRadio]="mEntrance" name="mainEntrance">{{ mEntrance }}</label>
                  </div>
                </div>
                <div class="form-group col-12">
                  <label for="Description" class="m-2">Descriptio</label>
                  <textarea class="form-control" name="Descriptio" id="Descriptio" cols="12" rows="4"></textarea>
                </div>
                <div class="form-group col-11">
                  <button type="button" class="btn btn-primary m-2" style="float: right" (click)="onSelectTab(4,true)">
                    Next
                    <li class="material-icons" style="
                                font-size: 20px;
                                font-weight: 100;
                                color: white;
                                margin-right: 3px;
                              ">
                      arrow_forward
                    </li>
                  </button>
                  <button type="reset" class="btn btn-primary m-2" style="float: right" (click)="onSelectTab(2,true)">
                    <li class="material-icons" style="font-size: 20px; color: white; margin-right: 3px">
                      arrow_back
                    </li>
                    Back
                  </button>
                </div>
              </tab>
              <tab heading="Photos" id="tab5">
                <div class="form-group col-12">
                  <label for="UploadPhoto">Upload Photo</label><br />
                  <input type="file" class="photo-control" id="img" name="img" accept="image/*" />
                </div>
                <div class="form-group col-11">
                  <!-- <button type="next" class="btn btn-primary m-2" style="float:right;" (click)="onSelectTab(1)">Next
                                    <li class="material-icons" style="font-size:20px;font-weight: 100; color: white; margin-right: 3px;">arrow_forward</li></button> -->
                  <button type="reset" class="btn btn-secondary m-2" style="float: right">
                    Cancel
                  </button>
                  <button type="submit" class="btn btn-primary m-2" style="float: right">
                    Submit
                  </button>
                  <button type="reset" class="btn btn-primary m-2" style="float: right" (click)="onSelectTab(3,true)">
                    <li class="material-icons" style="font-size: 20px; color: white; margin-right: 3px">
                      arrow_back
                    </li>
                    Back
                  </button>
                </div>
              </tab>
            </tabset>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <div class="card-header">
        <h3>Property View</h3>
      </div>
      <div class="card-body shadow-lg p-3 bg-white">
        <app-property-card [property]="propertyView" [hideIcons]=true></app-property-card>
      </div>
    </div>
  </div>
</div>
